$bg-green: #009970;
$bg-gray: rgb(246, 246, 247);
$bg-orange: orange;

$bg-text:  #36343a;
$bg-text-white: #fff;
$bg-text-white50: #efefef;

// Biar lebih mudah
$bg-primary: $bg-green;
$bg-body: $bg-gray;
$bg-hover: $bg-orange;


$font-secondary: 'Mali', cursive;